    upstream webservers {
        server 192.168.100.102:8000;
        server 192.168.100.103:8000;
    }

    server {
        listen 80;

        location / {   
                proxy_pass http://webservers;
        }
    }